SHEET_ID=1R3MynU1TszAWLL5tnNv84Y7N8j45IkokzUaUHaXOhs8
GMAIL_SCRIPT_URL=https://script.google.com/a/macros/uala.com.ar/s/AKfycbzjwcpy5U1xblnRaSoiB22VStcqgoEeSQva3LnvtS67bUgtr4xTR3fiTrk7V7IuO3IC/exec
MONDAY_API_KEY=replace_me
MONDAY_BOARD_ID=replace_me
OPENAI_API_KEY=replace_me
ANTHROPIC_API_KEY=
GEMINI_API_KEY=
SYNC_INTERVAL=60
DATA_DIR=/data
